@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Reem+Kufi&family=Source+Sans+Pro:wght@300;400;600&display=swap');


:root{
	---Poppins:'Poppins', sans-serif;
	---Source:'Source Sans Pro', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}


.encabezado{
	width: 100%;
	background-color: #100a1f;
	padding: 15px 40px;
	position: sticky;
	display: flex;
	justify-content: space-between;
	top: 0;
	z-index: 2;
}

.encabezado>img{
	width: 220px;
}

.encabezado .back{
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgb(231, 217, 113);
	width: 30px;
	height: 30px;
	background:linear-gradient(90deg,rgb(11, 138, 160),rgb(13, 57, 96));
	border-radius: 50%;
	font-size: 1.2rem;
}


.hero-body{
	width: 100%;
	padding: 10px 30px;
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			220px,
			.7fr
		)
	);
	justify-content: center;
	margin: auto auto;
	margin-top: 4rem;
	margin-bottom: 5rem;
	gap: 40px;
}

.contenedor .pelicula {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	transition: all .3s;
	box-shadow: 0px 0px 10px 0px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;

}

.contenedor .pelicula:hover{
	transform: scale(1.04);
}


.contenedor .pelicula .contenedor-poster{
	width: 100%;
	height: 350px;
	border-radius: 10px 10px 0px 0px;
}

.contenedor .pelicula .contenedor-poster .poster{
	transition: all .4s;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
}



.contenedor:hover .pelicula:not(:hover) {
	filter: grayscale(1);
	
}

.contenedor .pelicula .contenedor-info{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 70px;
	padding: 0px 5px;

}

.contenedor .pelicula .fecha{
	font-size: 13px;
	font-family: 'Reem Kufi', sans-serif;
}

.contenedor .pelicula .contenedor-info .titulo {
	font-size: .9rem;
	font-weight: 600;
}

.porcentaje1{
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	top:75%;
	left: 15px;
}

.porcentaje1 svg{
	position: relative;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background-color: rgb(6, 28, 47);
}

.porcentaje1 svg circle{
	fill: none;
	stroke-width: 5;
	transform: translate(5.5px,5.5px);
	stroke-dasharray: 140;
	stroke-dashoffset: 140;
}

.porcentaje1 svg circle:nth-child(1){
	stroke-dashoffset: 0;
}



.porcentaje1 .number{
	font-size: 13px;
	font-weight: 600;
	position: absolute;
	top: 30%;
	left: 30%;
	color: rgb(241, 241, 241);
	transform: translate(-10%,-4%);
}

.porcentaje1 .number span{
	font-size: 10px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.paginacion div{
	color: whitesmoke;
	font-size: 0.8rem;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 100px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family:var(---Source);
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}



/*Seccion por pelicula*/

.portada{
	position: relative;	
	display: flex;
	align-items: center;
	color: whitesmoke;
	min-height: 450px;
}

.top-article{
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 0.6fr auto;
	justify-content: space-evenly;
	column-gap: 30px;
	padding-left: 50px;
}

.contenedor-img-portada{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}

.contenedor-img-portada::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.img-portada{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	filter: blur(3px) contrast(105%) brightness(65%) saturate(110%) ;
}


.contenedor-img-pelicula{
	min-width:320px;
	height: 420px;
}

.img-pelicula{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}



.container-description{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top:30px;
	padding-bottom: 30px;
	padding-right: 15px;
	gap: 30px;
}



.container-description header h1{
	font-size: 2.3rem;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}

.date-genero{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	gap: 10px;
}

.date-genero .date{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	font-size: .95rem;
	font-family:var(---Source);
}

.date-genero .genero-duration{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	font-size: .95rem;
	font-family:var(---Source);
}

.seccion-porcentaje2{
	display: flex;
	align-items: center;
	flex-wrap: wrap
}

.seccion-porcentaje2 h3{
	padding-left: 5px;
	font-size: 0.9rem;
}

.porcentaje2{
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
}

.porcentaje2 svg{
	position: relative;
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background-color: rgb(6, 28, 47);
}

.porcentaje2 svg circle{
	fill: none;
	stroke-width: 5;
	transform: translate(5.5px,5.5px);
	stroke-dasharray: 190;
	stroke-dashoffset: 190;
}

.porcentaje2 svg circle:nth-child(1){
	stroke-dashoffset: 0;
}



.porcentaje2 .number{
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	top: 30%;
	left: 30%;
	color: rgb(241, 241, 241);
	transform: translate(-10%,-4%);
}

.porcentaje2 .number span{
	font-size: 10px;
}

.seccion-resumen > h3{
	font-family: var(---Source);
	font-size: 1.5rem;
	font-weight: 600;
	padding-bottom: 10px;
}

.seccion-resumen p{
	font-size: 1.05rem;
	font-family: var(---Source);
	font-weight: 300
}


#creditos{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	padding: 20px;
	justify-content: space-evenly;
}

#creditos>.creditos-personas{
	padding: 7px;
	text-align: center;
	font-family: var(---Source);
}

#creditos>.creditos-personas p{
	font-weight: 300;
}




/* MEDIA */

.contain-nav{
	display: flex;
	align-content: center;
	gap: 20px;
}

.contain-nav nav{
	width: 40%;
	padding: 10px 0px;
}

.contain-nav nav ol{
	display: flex;
	justify-content: space-around;
}

.contain-nav nav ol li{
	font-size: 1.04rem;
	cursor: pointer;
	position: relative;
}

.contain-nav nav ol li::before{
	content: '';
	height: 1px;
	bottom: 0;
	width: 0;
	position: absolute;
	background-color: #7c7c13;
	transition: all .4s;
}

.contain-nav nav ol li:hover::before{
	width:100%;
}


/* GRID DATA */
.grid-data{
	display: grid;
	row-gap: 20px;
	column-gap: 20px;
	grid-template-columns:  1fr 1fr .5fr;
	grid-template-areas:
	 "actores actores informacion"
	 "videos videos informacion";
	 padding: 40px 20px;
}

/* SECCION INFORMACION PELICULAS */
#seccion_pelicula-info{
	grid-area: informacion;
}

.contenedor-informacion{
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.info{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.info>*{
	font-family: var(---Source);
}
.info>h4{

	font-size: 1.1rem;
	font-weight: 600;
}

.info>p{
	font-size: 1rem;
}

.info>.keys{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 5px;
	color: whitesmoke;
}

.info>.keys>span{
	background-color: gray;
	font-size: 0.65rem;
	padding: 5px 10px;
	border-radius: 20px;
	text-align: center;
	
}


/* ACTORES  */

.seccion_actores{
	grid-area: actores;
}

.seccion_actores>h3{
	padding-bottom: 20px;
}

#carrusel-actores{
	width:100%;
	display: flex;
	gap: 10px;
	overflow: hidden;
	overflow-x: scroll;
	padding-bottom: 5px;
	border-radius: 10px;
	position: relative;
	
}

.div-carrusel_actores{
	position: relative;
}

.div-carrusel_actores::after{
	content: '';
	width: 80px;
	height: 100%;
	border-radius: 0px 10px 0px 0px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(to right,rgba(162, 161, 161, 0),rgb(216, 216, 216));
}

.div-carrusel_actores.active::after{
	transition: linear .6s;
	opacity: 1;
}

.div-carrusel_actores.inactive::after{
	transition: linear .6s;
	opacity: 0;
}




.card-actor{
	width: 160px;
	height: 290px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px grey;
}

.card-actor>img{
	width: 100%;
	height: 200px;
	border-radius: 10px 10px 0 0;
}

.card-actor>.info-actor{
	padding: 5px 5px 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-actor>.info-actor>h3{
	font-size: 1rem;
	font-family: var(---Source);
	font-weight: bold;
}

.card-actor>.info-actor>p{
	font-family: var(---Source);
	font-size: 0.9rem;
}


/* TRAILERS */

.seccion_media{
	grid-area: videos;
}

.div-carrusel_media{
	position: relative;
}

.div-carrusel_media::after{
	content: '';
	width: 60px;
	height: 100%;
	border-radius: 0px 20px 0px 0px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(to right,rgba(162, 161, 161, 0),rgb(216, 216, 216));
}

.div-carrusel_media.active::after{
	transition: linear .6s;
	opacity: 1;
}

.div-carrusel_media.inactive::after{
	transition: linear .6s;
	opacity: 0;
}

#media{
	display: flex;
	width: 100%;
	height: 260px;
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 20px;
}



.card-trailer{
	display: block;
	flex-grow: 1;
	width: 400px;
	height: 250px;
	border: 1px solid;
}

.card-trailer-proximamente{
	width: 400px;
	height: 250px;
	background-color: #137c32;
	border: 1px solid;
}

.card-trailer-proximamente>.background{
	width: 400px;
	height: 250px;
	background-image: url('https://img.freepik.com/vector-gratis/proximamente-muestra-fondo-luz-enfoque_1017-33741.jpg');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.copy-ringht{
	background-color: #100a1f;
	padding:10px 20px;
	text-align: center;
}

.copy-ringht>span{
	font-size: .8rem;
	color: whitesmoke;
}





@media (max-width:768px) {

	.top-article{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding:40px 15px;
	}

	.container-description{
		text-align: center;
		padding-right: 0;
	}

	.title-description{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.date-genero{
		justify-content: center;
	}


	.seccion-porcentaje2{
		justify-content: center;
	}

	.seccion-resumen>p{
		text-align:justify;
	}

	
	.contenedor-img-pelicula{
		min-width:250px;
	}

}

@media (max-width:870px){
	.contain-nav{
		gap: 0px;
		flex-direction: column;
	}

	.contain-nav nav{
		width: 80%;
	}
}

@media (max-width:645px) {

	.encabezado>img{
		width: 150px;
	}
	
	.encabezado .back{
		width: 25px;
		height: 25px;
	}

	.grid-data{
		display: flex;
		gap: 50px;
		flex-direction: column;
	}



	.contenedor-informacion{
		gap: 20px;
		box-shadow: 0px 0px 10px 0px gray;
		border-radius: 10px;
	}

	

	.info{
		text-align: center;
		gap: 20px;
	}

	.info>h4{

		font-size: 1.25rem;
	}
	
	.info>p{
		font-size: 1.18rem;
	}
	
	.info>.keys>span{
		font-size: 0.8rem;
		font-weight: 500;
	}

	.info>.keys{
		justify-content:space-evenly;
	}


	.contain-nav nav{
		width: 90%;
	}
}