@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Reem+Kufi&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			200px,
			.7fr
		)
	);
	justify-content: center;
	margin: auto auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	gap: 40px;
}

.contenedor .pelicula {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	transition: all .3s;
	box-shadow: 0px 0px 10px 0px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;

}

.contenedor .pelicula:hover{
	transform: scale(1.04);
}


.contenedor .pelicula .contenedor-poster{
	width: 100%;
	height: 350px;
	border-radius: 10px 10px 0px 0px;
}

.contenedor .pelicula .contenedor-poster .poster{
	transition: all .4s;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
}


.contenedor:hover .pelicula:not(:hover) .contenedor-poster .poster{
	filter: grayscale(1);
	
}

.contenedor .pelicula .contenedor-info{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 70px;
	padding: 0px 5px;

}

.contenedor .pelicula .fecha{
	font-size: 13px;
	font-family: 'Reem Kufi', sans-serif;
}

.contenedor .pelicula .contenedor-info .titulo {
	font-size: .9rem;
	font-weight: 600;
}

.percent{
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	top:75%;
	left: 15px;
}

.percent svg{
	position: relative;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background-color: rgb(6, 28, 47);
}

.percent svg circle{
	fill: none;
	stroke-width: 5;
	transform: translate(5.5px,5.5px);
	stroke-dasharray: 140;
	stroke-dashoffset: 140;
}

.percent svg circle:nth-child(1){
	stroke-dashoffset: 0;
}



.percent .number{
	font-size: 13px;
	font-weight: 600;
	position: absolute;
	top: 30%;
	left: 30%;
	color: rgb(241, 241, 241);
	transform: translate(-10%,-4%);
}

.percent .number span{
	font-size: 10px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.paginacion div{
	color: whitesmoke;
	font-size: 0.8rem;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 100px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}



/*Seccion por peliculas*/

.portada{
	position: relative;	
	color: whitesmoke;
}

.contenedor-img-portada{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.contenedor-img-portada::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.img-portada{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	filter: blur(3px) contrast(105%) brightness(65%) saturate(110%) ;
}


.contenedor-img-pelicula{
	width:400px;
	height: 440px;
}

.img-pelicula{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.top-article{
	width: 100%;
	display: flex;
	padding:40px;
}

.container-description{
	padding:30px 0px 30px 50px;
	width: 100%;
}

.container-description header h1{
	font-size: 2.3rem;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}


/* MEDIA */

.contain-nav{
	display: flex;
	align-content: center;
	padding: 10px 0;
	gap: 20px;
}

.contain-nav nav{
	width: 40%;
	padding: 10px 0px;
}

.contain-nav nav ol{
	display: flex;
	justify-content: space-around;
}

.contain-nav nav ol li{
	font-size: 1.04rem;
	cursor: pointer;
	position: relative;
}

.contain-nav nav ol li::before{
	content: '';
	height: 1px;
	bottom: 0;
	width: 0;
	position: absolute;
	background-color: #7c7c13;
	transition: all .4s;
}

.contain-nav nav ol li:hover::before{
	width:100%;
}



/* TRAILERS */

.section-media{
	padding: 10px 40px;
}

#media{
	display: flex;
	width: 70%;
	height: 260px;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	border-radius: 20px;
}

.card-trailer{
	display: block;
	flex-grow: 1;
	width: 400px;
	height: 250px;
	border: 1px solid;
}

.card-trailer-proximamente{
	width: 400px;
	height: 250px;
	background-color: #137c32;
	border: 1px solid;
}

.card-trailer-proximamente>.background{
	width: 400px;
	height: 250px;
	background-image: url('https://img.freepik.com/vector-gratis/proximamente-muestra-fondo-luz-enfoque_1017-33741.jpg');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}